# Exercise 1.1

In [1]:
import csv

skip_head = True
rows = []

with open('online_retail.csv') as f:
    for cols in csv.reader(f):
        if skip_head:
            skip_head = False
            labels = cols
            continue
        if len(cols) == 8 and cols[0][0] != 'C':
            rows.append(cols)

# Exercise 1.2

In [2]:
invoices = {}
for row in rows:
    if row[0] not in invoices:
        invoices[row[0]] = set()
    invoices[row[0]].add(row[2]) # row[2] contains the Description field

# Exercise 1.3

In [3]:
all_items_set = set()

for items in invoices.values():
    all_items_set.update(items)

len(all_items_set)

4208

In [4]:
all_items = sorted(list(all_items_set))
presence_matrix = [[int(item in invoice) for item in all_items] for invoice in invoices.values()]

In [5]:
presence_matrix = []
for invoice in invoices.values():
    row = [ int(item in invoice) for item in all_items ]
    presence_matrix.append(row)

len(invoices)

22064

In [6]:
def get_presence_matrix(invoices, all_items):
    item_pos_dict = { k: v for v, k in enumerate(all_items) }
    presence_matrix = []
    for invoice in invoices.values():
        row = [0] * len(all_items)
        for item in invoice:
            row[item_pos_dict[item]] = 1
        presence_matrix.append(row)
    return presence_matrix

presence_matrix = get_presence_matrix(invoices, all_items)

In [7]:
import pandas as pd

df = pd.DataFrame(data=presence_matrix, columns=all_items)
df.head()

,,4 PURPLE FLOCK DINNER CANDLES,50'S CHRISTMAS GIFT BAG LARGE,DOLLY GIRL BEAKER,I LOVE LONDON MINI BACKPACK,I LOVE LONDON MINI RUCKSACK,NINE DRAWER OFFICE TIDY,OVAL WALL MIRROR DIAMANTE,RED SPOT GIFT BAG LARGE,SET 2 TEA TOWELS I LOVE LONDON,...,wrongly coded 20713,wrongly coded 23343,wrongly coded-23343,wrongly marked,wrongly marked 23343,wrongly marked carton 22804,wrongly marked. 23343 in box,wrongly sold (22719) barcode,wrongly sold as sets,wrongly sold sets
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Exercise 1.4

In [8]:
from mlxtend.frequent_patterns import fpgrowth

for minsup in [ 0.5, 0.1, 0.05, 0.02, 0.01 ]:
    freq_itemsets = fpgrowth(df, minsup)
    print(f"{minsup} => {len(freq_itemsets)}")

C:\Users\adile\anaconda3\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

0.5 => 0

C:\Users\adile\anaconda3\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

0.1 => 1

C:\Users\adile\anaconda3\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

0.05 => 23

C:\Users\adile\anaconda3\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

0.02 => 303

C:\Users\adile\anaconda3\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

0.01 => 1472

In [9]:
fpgrowth(df, 0.1)

C:\Users\adile\anaconda3\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

    support itemsets
0  0.102429   (3904)

In [10]:
all_items[3904]

'WHITE HANGING HEART T-LIGHT HOLDER'

In [11]:
100 * df.values[:, 3904].sum() / len(df)

10.242929659173313

# Exercise 1.5

In [12]:
freq_itemsets = fpgrowth(df, 0.02)
freq_itemsets[freq_itemsets["itemsets"].map(len) > 1]

C:\Users\adile\anaconda3\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

      support            itemsets
246  0.021392        (1824, 1825)
247  0.029007          (162, 166)
248  0.021302          (165, 166)
249  0.024429        (3970, 3966)
250  0.022435        (3904, 2837)
251  0.026242        (1858, 2046)
252  0.037391        (1856, 1858)
253  0.023341        (1856, 1871)
254  0.032814        (1858, 1871)
255  0.026514        (1858, 1846)
256  0.023477        (1857, 1858)
257  0.020531         (2387, 115)
258  0.022027        (3547, 2861)
259  0.030819        (1858, 1869)
260  0.023749        (1869, 1871)
261  0.021211        (1856, 1869)
262  0.022344        (1701, 1702)
263  0.020350        (3904, 1858)
264  0.025018        (2436, 2431)
265  0.025381        (2049, 2046)
266  0.023205        (2049, 2038)
267  0.027466        (2045, 2046)
268  0.024656        (2045, 2038)
269  0.022752        (2041, 2045)
270  0.023840        (2046, 2055)
271  0.021710        (2049, 2055)
272  0.020123        (2038, 2055)
273  0.020305        (2041, 2055)
274  0.029052        (2046, 2038)
275  0.023658        (2041, 2038)
276  0.025109        (2041, 2046)
277  0.021891        (2041, 2049)
278  0.024338        (1858, 1862)
279  0.024384        (3506, 1047)
280  0.023794        (2905, 3003)
281  0.034808        (3003, 1599)
282  0.023069        (2905, 1599)
283  0.024248        (1858, 1868)
284  0.020350        (1868, 1871)
285  0.022979         (724, 2861)
286  0.022933        (2861, 3981)
287  0.020667         (724, 3981)
288  0.023658         (723, 2861)
289  0.021982        (1858, 1092)
290  0.028689        (2656, 1599)
291  0.027148        (2656, 3003)
292  0.024565  (2656, 3003, 1599)
293  0.025199        (2051, 2046)
294  0.021347        (2041, 2051)
295  0.020622        (2049, 2051)
296  0.023341        (2051, 2038)
297  0.020305        (1858, 1859)
298  0.022072        (2040, 2046)
299  0.020350        (2040, 2051)
300  0.024746        (1849, 1858)
301  0.021891        (3514, 2463)
302  0.024746        (1450, 1451)

# Exercise 1.6

In [14]:
M = df.values # matrix from the df dataframe

support_2656 = len(M[M[:, 2656] == 1])/len(M)
support_1599 = len(M[M[:, 1599] == 1])/len(M)
support_both = len(M[(M[:, 2656] == 1) & (M[:, 1599] == 1)])/len(M)
print(f"Confidence 2656 => 1599: {support_both / support_2656}")
print(f"Confidence 1599 => 2656: {support_both / support_1599}")

Confidence 2656 => 1599: 0.8263707571801567
Confidence 1599 => 2656: 0.6236453201970443

# Exercise 1.7

In [15]:
from mlxtend.frequent_patterns import association_rules

fi = fpgrowth(df, 0.01)
association_rules(fi, 'confidence', 0.85)

C:\Users\adile\anaconda3\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,"(3547, 723)",(2861),0.017177,0.046864,0.014775,0.860158,18.354481,0.013970,6.815824
1,"(3547, 724, 723)",(2861),0.012282,0.046864,0.011104,0.904059,19.291256,0.010528,9.934613
2,"(3547, 3981, 723)",(2861),0.011920,0.046864,0.010968,0.920152,19.634657,0.010409,11.936898
3,"(3547, 724, 3981)",(2861),0.013733,0.046864,0.011784,0.858086,18.310257,0.011140,6.716286
4,"(1856, 1869, 1871)",(1858),0.014005,0.094815,0.012146,0.867314,9.147426,0.010819,6.822003
5,"(3338, 3292)",(3339),0.013416,0.023885,0.012011,0.895270,37.482435,0.011690,9.320323
6,(1731),(1732),0.010877,0.010741,0.010016,0.920833,85.726864,0.009899,12.495897
7,(1732),(1731),0.010741,0.010877,0.010016,0.932489,85.726864,0.009899,14.651378
8,"(723, 724, 3981)",(2861),0.013234,0.046864,0.011376,0.859589,18.342333,0.010756,6.788190
9,"(3561, 1858)",(1092),0.012781,0.032088,0.011285,0.882979,27.517009,0.010875,8.271244
10,"(3976, 3968)",(3975),0.011285,0.023205,0.010470,0.927711,39.978539,0.010208,13.512328
11,"(2736, 2734)",(2735),0.011784,0.019761,0.010152,0.861538,43.598589,0.009919,7.079506
12,"(2736, 2735)",(2734),0.011875,0.019172,0.010152,0.854962,44.595456,0.009925,6.762554
13,"(2656, 2905)",(1599),0.017766,0.046003,0.015546,0.875000,19.020690,0.014728,7.631980
14,"(2656, 2905, 3003)",(1599),0.015002,0.046003,0.013642,0.909366,19.767726,0.012952,10.525772
15,"(2656, 2905, 1599)",(3003),0.015546,0.048314,0.013642,0.877551,18.163495,0.012891,7.772102
16,"(2656, 3003)",(1599),0.027148,0.046003,0.024565,0.904841,19.669380,0.023316,10.025342
17,"(2656, 1599)",(3003),0.028689,0.048314,0.024565,0.856240,17.722404,0.023179,6.619970
18,(2911),(2910),0.013823,0.017268,0.012600,0.911475,52.784235,0.012361,11.101232
19,(2911),(2912),0.013823,0.020169,0.012192,0.881967,43.729718,0.011913,8.301349
20,"(2912, 2911)",(2910),0.012192,0.017268,0.011557,0.947955,54.896818,0.011347,18.882494
21,"(2910, 2911)",(2912),0.012600,0.020169,0.011557,0.917266,45.479913,0.011303,11.843180

In [16]:
M = df.values # matrix from the df dataframe
support_1731 = len(M[M[:, 1731] == 1])/len(M)
support_1732 = len(M[M[:, 1732] == 1])/len(M)
support_both = len(M[(M[:, 1731] == 1) & (M[:, 1732] == 1)])/len(M)
print(f"Confidence 1731 => 1732: {support_both / support_1731}")
print(f"Confidence 1732 => 1731: {support_both / support_1732}")

Confidence 1731 => 1732: 0.9208333333333334
Confidence 1732 => 1731: 0.9324894514767933